

	<div class="chat-image">
		<div class="container">
			<a href=""><img src="img/chat.png"></a>
		</div>
	</div>
	<footer>
		<div class="about">
			<div class="container">
				<div class="row list-footer">
					<div class="col-md-8">
						<div class="row">
							<div class="col-md-3 ">
								<ul>
									<li><a href="#">Home</a></li>
									<li><a href="#">Profile</a></li>
									<li><a href="#">Ibadah</a></li>
								</ul>
							</div>
							<div class="col-md-3">
								<ul>
									<li><a href="#">Haji</a></li>
									<li><a href="#">Umroh</a></li>
									<li><a href="#">Galeri</a></li>
								</ul>
							</div>
							<div class="col-md-3">
								<ul>
									<li><a href="#">NRA TV</a></li>
									<li><a href="#">Berita</a></li>
									<li><a href="#">Testimonial</a></li>
								</ul>
							</div>
							<div class="co-md-3"></div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="row about-right" >
							
							<h5><b>NRA Tour & Travel</b></h5>

							<p>Kantor Pusat: Jl. Mampang Prapatan Raya No 74E.<br>
								Tegal Parang - Jakarta Selatan 12790.<br>
								Telp. 021 798 9269 (Hunting) Fax. 021 791 969 48.<br>
								Website: www.nra-tour.com E-mail: nra@cbn.net.id.</p>
								
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="copyright">
				<div class="container">
					<div class="row">
						<div class="col-md-9">
							<center><h5><b>Copyright 2016 NRA Group. All right reserved.</b></h5></center>
						</div>
						<div class="col-md-3">
							<center><ul>
								<li><a href="#"><img src="img/fb-icon.png"></a></li>
								<li><a href="#"><img src="img/google-icon.png"></a></li>
								<li><a href="#"><img src="img/twitter-icon.png"></a></li>
								<li><a href="#"><img src="img/ig-icon.png"></a></li>
							</ul></center>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>

	<script src="js/jquery-2.2.2.min.js"></script>
	<script src="js/bootstrap.js"></script>
	<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>

	</html>