{% extends "../template/base.swig" %}
{%block body%}
<div class="container-fluid border-top">
	<div class="container">
		<div class="kategori">
			<div class="another-breadcrumb">
				<ol class="breadcrumb">
					<li><a href="#">ID</a></li>
					<li class="active">Hubungi Kami</li>
				</ol>
			</div>
			<h1><b>Hubungi Kami</b></h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 ">
			<div class="carousel">
			<img src="/img/hub-2.png" width="100%">
			<!-- Untuk headline informasi -->
			<!-- end headline informasi -->
			</div>
		</div>
	</div>
</div>
<!-- Untuk headline informasi -->
		<div class="info">
			<div class="container">
				<div class="info-umroh">
					<div class="row">
						<div class="col-md-3">
							<div class="photo-cs">
								<img src="/img/manajer.png">
							</div>
						</div>
						<div class="col-md-9">			
							<h1 style="text-align:left;">Kantor NRA Tour & Travel</h1>
						</div>
					</div>
				</div>
			</div>
		</div> <!-- end headline informasi -->

<!-- content -->

<!-- berita terbaru -->
<div class="container berita">
	<div class="row">
		<div class="col-md-8 p-kami">

			<p><b>KANTOR PUSAT</b></p> 
			<ul> 
				<li>Jl. Mampang Prapatan Raya No. 74-E Tegal Parang, Jakarta Selatan 12790</li>            
				<li>Telp. 021 7989269, Fax. 021 79196948</li>    
				<li>Email - nra@cbn.net.id , http - www.nra-tour.com</li>
			</ul>

			<b><p>KANTOR CABANG </b></p>                           
			<ol>
				<li>1. SAMARINDA</li> 
				<ul>    

					<li>Jl. PM. Noor, Perum Pondok Surya Indah Blok AC No.4-5, Samarinda, Kaltim</li> 

					<li>Telp. 0541-220696 / 0815 20900358</li>     

					<li>Email : nra_smr@yahoo.co.id </li>   </ul>         

				<li>2. BALIKPAPAN </li> 
				<ul>  

					<li>Ruko Balikpapan Baru Little China, Blok AB 7 No.16, Balikpapan, Kaltim </li>   

					<li>Telp. 0542-7078907/0812 53322676, Fax. 0542-7204434</li> 

					<li>Email : suryanti113@yahoo.co.id</li>  </ul>           

				<li>3. MAKASSAR    :</li> 
				<ul>
					<li>Jl. Andi Mappayukki No. 133 -C Makassar, Sulsel</li> 

					<li>Telp 0411-8110422/0812 4293694, Fax. 0411-8110299</li> 

					<li>Email : rina_nra@yahoo.com </li>   </ul>             

				<li>4. SURABAYA. 1    :</li> 
				<ul>
					<li>Jl. KH. Mansyur No.61 Surabaya, Jawa Timur</li> 

					<li>Telp. 031-3521930 /0856 3330056, Fax. 031-3526698</li> </ul>

				<li>5. SURABAYA. 2    : </li>
				<ul>
					<li>Jl. Karang Menur IV/20-22 Surabaya 60286, Jawa Timur</li> 

					<li>Telp & Fax.031 -5030916, 0812 52528700, 0816 5408451</li> 

					<li>Email : lily_hasanah@yahoo.com</li>  </ul>              

				<li>6. MAGETAN    : </li>
				<ul>
					<li>Jl. M.T. Haryono No. 1 Magetan 63111</li> 

					<li>HP: +6281335763414 , Fax.  0351 894640</li>  

					<li>Email : arfinavivien@yahoo.co.id</li> </ul>
				<li>7. SUKABUMI    : </li>
				<ul> 
					<li>Puri Cibereum Permai, Blok 12 No.3 Rt.3/10 Sukabumi, Jawa Barat </li>      

					<li>Telp.0858 46530068, 0812 2270076</li>   </ul>          

					<li>8. MALANG.1    : </li> 
					<ul>
						<li>Jl. Bunga Kopi 2. Kav.5 Pondok Kopi  Estate, Malang, Jawa Timur</li>             

						<li>Telp. (0341) 476749, 0812 3301118</li> </ul>           

						<!-- 9. MALANG. 2    : JL. Kertarejasa No. 15 -A RT.01/03, Singosari, Malang, Jawa Timur               
						Telp. 0341 453240 / 0821 41745636    

						10. MALANG 3   : JL MT. Haryono No. 8A ruko Dinoyo Permai, Malang, Jawa Timur.
						Telp :  085232337535 /082895251399

						11. CIREBON. 1    : Jl. Pemuda No. 11 - A (Belakang) Cirebon- Jawa Barat                
						Telp. 0231 201451 / 0811 241128            

						12. CIREBON 2    : FIFI SOFIAH EFFENDI                
						Jl. Cideng Indah No.88 Cirebon - Jabar (Samping Akademi Farmasi),
						Cideng Kartawinangun, Kedawung, Cirebon               
						Telp. 0821 28578883 / 0853 24565666        

						13. MATARAM    : Jl. DR. Wahidin Komp. Ruko Rembiaga No. 5        
						Rembiaga, Salaparang - Mataram, Lombok
						Telp. 0370-655155, 0370 621442 : Hp,081236280775 / 087865551990        

						14. PALEMBANG.1    : Jl. Sultan Mansyur, Bukit Lama No. 361, Palembang, Sumatera Selatan
						Telp.  0711 442676 / 0812 1177668            

						15. PALEMBANG.2    : JL. Pasar Bawah No.943 Samping Koramil Tanjung Enim            
						Palembang, Sumatera Selatan 31714            
						Telp.  0734 453280 / 0813 67728654                

						16. TEMBAGAPURA  :  Tomp. Perumahan Pertambangan Freeport, Papua.
						Telp.  0901-352575, HP 08126219984 
						Email -  rudy_suprapto@fmi.com
						17. PALU    : JL. Dewi Sartika No. 80 ( House of Kalinda)        
						Palu Selatan Sulawesi Tengah                 
						Telp.  0813 41338022 / 0821 94501080        

						18. LAMPUNG    :  Jl. Arief Rahman Hakim No. 5 Way Halim Permai Bandar Lampung                
						Telp. 0721 772272, 7407639, Fax : 0721 784031    

						19. BANDUNG    :Jl. Mekar Utama Kav. 102 Komplek Mekar Wangi, Bandung 
						Telp.022 88886399 / 0815 6039879            

						20. PANGKALAN BUN    :  Mupakat Motor, Jl. Udan Said No. 9 Pangkalan Bun 74113, Kalimantan Tengah       
						Telp. 0532 27067 / 0812 5140 6666                

						21. KENDARI    : Jl. Ahmad Yani, Ruko No. 30E, Kendari, Sulawesi Tenggara        
						Telp. 0401 3128438 / F. 0401 3127655        
						Email : asbar_imran@yahoo.co.id            

						22. PONTIANAK     : JL. Letjen Sutoyo No. 68  (Samping kantor Pertamina), Pontianak
						Telp. 0561 743899/ 0813 45155 777 /0853 12119977    
						Email : saharudin.17@gmail.com/ rohamasiti@ymail.com ( P. Saharudin)

						23. PURWOKERTO  : JL. Sukadamai Perum Pondok Indah Estate Blok C27, Purwokerto, Banyumas, Jawa Tengah
						Telp & Fax. 0281 - 623007, 081327607607 / 0857 26555454        
						Email nra.purwokerto@gmail.com

						24. BOYOLALI    : JL. Perintis Kemerdekaan No. 39, Pulisen, Boyolali, Jawa Tengah
						Telp & Fax. 0276 322054 / 0811 297517        
						Email : paryadi_08@yahoo.com ( Bp.Paryadi)        

						25. SLEMAN    : JL. BABARSARI NO. 102 ( DEPAN SPBU BABARSARI)
						CATUR TUNGGAL, DEPOK, SLEMAN        
						PROV. DAERAH ISTIMEWAH JOGJAKARTA        
						Telp/FAX. 0274 4332885 / 0811 250719        
						Email : santyastuti@yahoo.com            

						26. GORONTALO    : JL. A.YANI NO. 25 (HJ. LIVI YUNITA YUNUS)        
						GORONTALO, PORP. GORONTALO             
						Telp. 0435  823789/ 0435 823987, F. 0435 -827991    
						Email : skctour_gto@yahoo.co.id            

						27. MAGELANG    : JL. DIPONEGORO NO.38, CACABAN        
						KOTA MAGELANG, JAWA TENGAH 56121        
						Telp. 0293 368852/3154953, Hp. 0859 21794770    
						Email : nawangdiani@gmail.com
						28. PEKANBARU : JL. Durian No. 35 Labuh Baru Timur, Pekanbaru, Riau 28291            
						Telp/FAX. 0761-7870156 / 0771-7870154 HP. 081378908730 / 085365612775 / 085365687661                 
						Email : nra_pekanbaru@yahoo.com
						29. BANJARMASIN    : Toko Mas Electronic Jl. Brigen H.Hasan Basry
						Ruko 8 Blok B. Banjarmasin . Telp. 0511 3307701 / 0813 51711188

						30. BALI    :  Jl. Karya Makmur, Merta Sari No.212 Denpasar Bali 
						Telp. 0361 7984778, 7806955

						31. KARAWANG   :   Jl. Wibisana Perumnas Bumi Teluk LA No.1A.
						Karawang Jawa Barat Hp. 0811 9992592
 -->
					</ol>

				</div>

{%endblock%}

{% block sidebar-right %}
<!-- berita terbaru -->
<!-- NRA TV STREAMING -->
				<div class="col-md-4">
					<div class="judul">
						<h4>NRA TV STREAMING</h4>
					</div>
					<div class="video">
						<img src="/img/3.png">
					</div>
					<div class="list-video">
						<div class="row">
							<div class="col-md-6">
								<img src="/img/4.png">
							</div>
							<div class="col-md-6">
								<h4><b>TAUSYAH CINTA</b></h4>
								<p>film TAUSYAH CINTA merupakan film Indonesia yang di sutradarai oleh</p>
							</div>
						</div>

					</div>

					<div class="list-video separator-video">
						<div class="row">
							<div class="col-md-6">
								<img src="/img/5.png">
							</div>
							<div class="col-md-6">
								<h4><b>Haji Bareng NRA</b></h4>
								<p>Serunya haji bareng NRA tahun ini. Dengan harga yang cukup</p>
							</div>
						</div>

					</div>

					<div class="daftar-berita">
						<a href="#">
							<h4><b>Berita</b></h4>
						</a>
					</div>
					<div class="row list-berita">
						<div class="col-md-4 ">
							<div class="gambar-berita">
								<img src="/img/berita1.png">
							</div>
						</div>
						<div class="col-md-8">
							<h4><b>Kemenag Cabut Izin 3 Travel Umrah</b></h4>
							<p>Selasa 15 Maret 2016</p>
							<p>17:06 WIB</p>
						</div>
					</div>
					<hr>
					<div class="row list-berita">
						<div class="col-md-4 ">
							<div class="gambar-berita">
								<img src="/img/berita2.png">
							</div>
						</div>
						<div class="col-md-8">
							<h4><b>80.000 Muslim Mesir Umroh di Tahun 2015</b></h4>
							<p>Selasa 15 Maret 2016</p>
							<p>17:06 WIB</p>
						</div>
					</div>
					<hr>
					<div class="row list-berita">
						<div class="col-md-4 ">
							<div class="gambar-berita">
								<img src="/img/berita3.png">
							</div>
						</div>
						<div class="col-md-8">
							<h4><b>Isu Pasien Papua terjangkit Virus Mers</b></h4>
							<p>Selasa 15 Maret 2016</p>
							<p>17:06 WIB</p>
						</div>
					</div>

					<div class="separator"></div>
				</div>
			</div>
		</div> <!-- end container berita -->
{% endblock %}
