<!-- content -->
{% extends "../template/base.swig" %}
{% block body %}
<div class="border-top"></div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="kategori">
				<div class="another-breadcrumb">
				<ol class="breadcrumb">
						<li><a href="#">ID</a></li>
						<li><a href="#">NRA TV</a></li>
						<li class="active">Galeri Video</li>
				</ol>
				<h1>Galeri Video</h1>
			</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
	<div class="video-terbaru"><h4>Video Terbaru</h4></div>
	<div class="row daftar-video">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
</p>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
	</div>

	<div class="row daftar-video">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 ">
			<a href="#" class="btn btn-selanjutnya">Selanjutnya</a>

		</div>
	</div>
</div>
<!-- favorit -->
<div class="container-fluid bg-favorit">
	<div class="container">
	<div class="video-favorit"><h4>Video Favorit</h4></div>
	<div class="row daftar-video">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
	</div>
	

	<div class="row">
		<div class="col-md-12 ">
			<a href="#" class="btn btn-selanjutnya">Selanjutnya</a>

		</div>
	</div>
	</div>
</div>

	<!-- kajian -->
	<div class="container">
	<div class="video-kajian"><h4>VIDEO KAJIAN</h4></div>
	<div class="row daftar-video">
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
		<div class="col-md-3">
			<img alt="Bootstrap Image Preview" src="img/video1.png" />
			<h4><a href="/nratv/galeri-video">
				h4. Lorem ipsum dolor sit amet.
			</a></h4>
			<p><a href="#">971,744 views</a>
			<br><a href="#">2 months ago</a>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 ">
			<a href="#" class="btn btn-selanjutnya">Selanjutnya</a>

		</div>
	</div>
	</div>

</div>

{% endblock %}
<!-- end-conten	 -->